APP_NAME=Bridgekey MiniFlyton
HOST=127.0.0.1
PORT=8080
AUTO_OPEN_BROWSER=1
DB_PATH=./Server/data/microflyton.db
ADMIN_USERNAME=admin
ADMIN_PASSWORD=fly123
START_URL=http://127.0.0.1:8080/pages/index.html
